ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0;
}

img {
  object-fit: cover;
}

@media (min-width: 1200px) {
  .container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
    min-width: 1170px;
  }
}
/*------------------------------------*\
	Section 01
\*------------------------------------*/
#section-01 {
  padding-top: 65px;
  padding-bottom: 100px;
}
#section-01 .heading {
  color: #000645;
  font-size: 16px;
  line-height: 24px;
}
#section-01 .title {
  color: #0036a7;
  font-size: 45px;
  line-height: 58px;
  margin-top: 10px;
  margin-bottom: 2px;
}
#section-01 p {
  color: #000645;
  font-size: 16px;
  line-height: 24px;
}
#section-01 .learn-more {
  color: #0080c9;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding-left: 28px;
  margin-top: 37px;
}
#section-01 .learn-more:after {
  content: " ";
  width: 20px;
  height: 2px;
  background: #0080c9;
  box-shadow: 0px 2px 7px 0px rgba(0, 147, 232, 0.1);
  position: absolute;
  left: 0;
  top: 50%;
}
#section-01 .learn-more:hover {
  color: #000645;
}
#section-01 .learn-more:hover:after {
  background: #000645;
}
#section-01 .ellipse_2 {
  position: absolute;
  top: -75px;
  left: -75px;
  z-index: 1;
}
#section-01 .ellipse_3 {
  position: absolute;
  bottom: -30px;
  right: 10px;
  z-index: 1;
}
#section-01 .intro_box {
  position: absolute;
  bottom: -75px;
  left: -75px;
  z-index: 3;
}

@media (max-width: 768px) {
  #section-01 {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  #section-01 .title {
    font-size: 30px;
    line-height: 40px;
  }
  #section-01 .learn-more {
    margin-top: 12px;
  }
}
/*------------------------------------*\
	Section 02
\*------------------------------------*/
#section-02 {
  padding-top: 92px;
  padding-bottom: 100px;
}
#section-02 .title {
  color: #0036a7;
  font-size: 30px;
  line-height: 60px;
  margin-bottom: 30px;
}
#section-02 ul li {
  color: #000645;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 22px;
}
#section-02 ul li span {
  color: #0093e8;
  margin-left: 8px;
}
#section-02 a {
  margin-top: 41px;
}
#section-02 .left {
  padding-right: 0px;
}
#section-02 .left ul {
  padding-right: 105px;
  border-right: 1px solid #efefef;
}
#section-02 .left a {
  padding: 19px 48px;
  font-size: 18px;
  line-height: 24px;
  color: white;
  background: #0080c9;
  box-shadow: 0px 2px 9px 0px rgba(0, 128, 201, 0.25);
  border-radius: 15px;
}
#section-02 .left a:hover {
  background: #000645;
}
#section-02 .right {
  padding-left: 105px;
}
#section-02 .right a {
  padding: 19px 24px;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #0036a7;
  color: #0036a7;
  background: white;
  box-shadow: 0px 2px 7px 0px rgba(0, 54, 167, 0.15);
  border-radius: 15px;
}
#section-02 .right a:hover {
  background: #000645;
  color: white;
  border-color: #000645;
}

@media (max-width: 768px) {
  #section-02 {
    padding-top: 43px;
    padding-bottom: 43px;
  }
  #section-02 .title {
    font-size: 28px;
    margin-bottom: 12px;
  }
  #section-02 ul li {
    margin-bottom: 12px;
  }
  #section-02 .left {
    padding-right: 15px;
  }
  #section-02 .left ul {
    padding-right: 0;
    border-right: 0;
  }
  #section-02 .left,
#section-02 .right {
    padding: 15px;
  }
  #section-02 .left a,
#section-02 .right a {
    padding: inherit;
    width: 100%;
    font-size: 16px;
    margin: 12px auto;
    text-align: center;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*------------------------------------*\
	Section 03
\*------------------------------------*/
#section-03 {
  padding-top: 97px;
  padding-bottom: 92px;
  background: #000645;
}
#section-03 .section-03-inner .heading {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.2px;
  color: #455880;
  margin-bottom: 10px;
}
#section-03 .section-03-inner .title {
  font-size: 30px;
  line-height: 60px;
  color: white;
}
#section-03 .section-03-inner .step-wrapper {
  margin-top: 79px;
}
#section-03 .section-03-inner .step-wrapper > div:nth-child(even) {
  margin-top: 70px;
}
#section-03 .section-03-inner .step-wrapper .step-icon {
  max-width: 136px;
  position: relative;
}
#section-03 .section-03-inner .step-wrapper .step-icon .step-count {
  position: absolute;
  top: -7px;
  left: -7px;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  z-index: 8;
  width: 12px;
  height: 12px;
  padding: 14px;
  font-size: 16px;
  line-height: 24px;
}
#section-03 .section-03-inner .step-wrapper .step-icon img {
  object-fit: none;
}
#section-03 .section-03-inner .step-wrapper .step-title {
  color: white;
  font-size: 21px;
  line-height: 60px;
  margin-top: 26px;
  margin-bottom: 11px;
}
#section-03 .section-03-inner .step-wrapper .step-content {
  color: #455880;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 768px) {
  #section-03 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  #section-03 .section-03-inner {
    padding-left: 0px;
    padding-right: 0px;
  }
  #section-03 .section-03-inner .title {
    line-height: 40px;
  }
  #section-03 .section-03-inner .step-wrapper {
    margin-top: 32px;
  }
  #section-03 .section-03-inner .step-wrapper > div {
    margin-bottom: 32px;
  }
  #section-03 .section-03-inner .step-wrapper > div:nth-child(even) {
    margin-top: 0px;
  }
}
/*------------------------------------*\
	Section 04
\*------------------------------------*/
#section-04 {
  padding-top: 97px;
  padding-bottom: 97px;
}
#section-04 img {
  object-fit: none;
  margin: 26px auto 12px auto;
}
#section-04 .real-box {
  border-radius: 15px;
  width: 210px;
  height: 210px;
  min-width: 210px;
  min-height: 210px;
  position: relative;
}
#section-04 .left.real-box {
  margin-left: 90px;
  margin-right: 30px;
}
#section-04 .right {
  width: 100%;
}
#section-04 .right .real-box:nth-child(1) {
  margin-bottom: 30px;
}
#section-04 .heading {
  color: #000645;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 9px;
}
#section-04 .title {
  color: #0036a7;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 32px;
}
#section-04 p {
  font-size: 16px;
  line-height: 24px;
  color: #000645;
  margin-bottom: 17px;
}
#section-04 p.font-weight-500 {
  font-size: 21px;
  margin-bottom: 21px;
}
#section-04 p:nth-last-child(1) {
  position: relative;
  padding-left: 28px;
}
#section-04 p:nth-last-child(1) span {
  color: #fc3c60;
}
#section-04 p:nth-last-child(1):before {
  content: " ";
  width: 20px;
  height: 2px;
  background: #fc3c60;
  position: absolute;
  left: 0;
  top: 50%;
}
#section-04 .agency-name {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #000645;
}
#section-04 .agency-rating {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#section-04 .agency-rating span {
  color: #d5d5d5;
}
#section-04 .agency-rating span.checked {
  color: #f0b400;
}
#section-04 .agency-review {
  background: #fafafa;
  padding: 0 15px;
  height: 44px;
  color: #455880;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  #section-04 {
    padding-top: 66px;
    padding-bottom: 66px;
  }
  #section-04 p {
    margin-bottom: 12px;
  }
  #section-04 .real-box {
    margin-right: 20px;
  }
}
/*------------------------------------*\
	Section 05
\*------------------------------------*/
#section-05 {
  padding-top: 97px;
  padding-bottom: 120px;
}
#section-05 .heading {
  color: #000645;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 9px;
}
#section-05 .title {
  color: #0036a7;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 75px;
}
#section-05 .left img:nth-child(1) {
  top: -15px;
  right: 75px;
  z-index: 2;
}
#section-05 .left img:nth-child(2) {
  left: 0;
  top: 92px;
  z-index: 4;
}
#section-05 .left img:nth-child(3) {
  right: 210px;
  top: 210px;
  z-index: 3;
}
#section-05 .left img:nth-child(4) {
  right: -15px;
  top: 415px;
  z-index: 3;
}
#section-05 .left img:nth-child(5) {
  right: 45px;
  top: 180px;
  z-index: 1;
}
#section-05 .right ul li {
  color: #000645;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 768px) {
  #section-05 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  #section-05 .title {
    margin-bottom: 32px;
  }
  #section-05 .right ul li {
    margin-bottom: 12px;
  }
}
/*------------------------------------*\
	Section 06
\*------------------------------------*/
#section-06 {
  padding-top: 60px;
}
#section-06 img {
  width: 100%;
  object-fit: contain;
  max-width: 305px;
}
#section-06 div.font-weight-500 {
  margin-bottom: 21px;
  font-size: 21px;
  line-height: 40px;
  color: #000645;
}
#section-06 p {
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 24px;
  color: #000645;
}

@media (max-width: 768px) {
  #section-06 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  #section-06 img {
    margin: 30px auto;
    max-width: 100%;
    object-fit: contain;
  }
}
/*------------------------------------*\
	Section 07
\*------------------------------------*/
#section-07 {
  padding-bottom: 60px;
}
#section-07 img {
  width: 100%;
  object-fit: none;
}
#section-07 div.font-weight-bold {
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 40px;
  color: #000645;
}
#section-07 p {
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 24px;
  color: #000645;
}

@media (max-width: 768px) {
  #section-07 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  #section-07 img {
    margin: 30px auto;
    object-fit: contain;
  }
}
/*------------------------------------*\
	Section 08
\*------------------------------------*/
#section-08 {
  background: #000645;
  padding-top: 97px;
  padding-bottom: 99px;
}
#section-08 .section-08-inner .heading {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.2px;
  color: #455880;
  margin-bottom: 10px;
}
#section-08 .section-08-inner .title {
  font-size: 30px;
  line-height: 60px;
  color: white;
  margin-bottom: 19px;
}
#section-08 .section-08-inner .sub-title {
  color: #efefef;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 11px;
}
#section-08 .section-08-inner .sub-title.last {
  margin-bottom: 59px;
}
#section-08 .section-08-inner .block-title {
  margin-bottom: 22px;
  font-size: 21px;
  line-height: 40px;
  color: white;
}
#section-08 .section-08-inner ul li {
  width: 20%;
  float: left;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 0 8px;
}

@media (max-width: 768px) {
  #section-08 {
    padding-top: 67px;
    padding-bottom: 67px;
  }
  #section-08 .section-08-inner {
    padding-left: 0px;
    padding-right: 0px;
  }
  #section-08 .section-08-inner .title {
    line-height: 42px;
  }
  #section-08 .section-08-inner ul li {
    width: 50%;
    font-size: 14px;
  }
}
@media (min-width: 376px) and (max-width: 767px) {
  #section-08 .section-08-inner ul.all-types li:nth-child(8) {
    margin-top: -54px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  #section-08 .section-08-inner ul.all-types li:nth-child(4), #section-08 .section-08-inner ul.all-types li:nth-child(8), #section-08 .section-08-inner ul.all-types li:nth-child(10), #section-08 .section-08-inner ul.all-types li:nth-child(12) {
    margin-top: -54px;
  }
}
@media (max-width: 320px) {
  #section-08 .section-08-inner ul.all-types li:nth-child(6), #section-08 .section-08-inner ul.all-types li:nth-child(8), #section-08 .section-08-inner ul.all-types li:nth-child(10), #section-08 .section-08-inner ul.all-types li:nth-child(12) {
    margin-top: -54px;
  }
}

/*# sourceMappingURL=home.min.css.map */
